<div class="contents row">
  <div class="success">
    <div class="col-md-8">
      <h3><%= @title %></h3>
      <div id="tweet">
        <div class="contents row">
          <ul class="users follow">

            <% @following_users.each do |tweet| %>
                <%= render "follows", tweet: tweet %>
            <% end %>
          </ul>
        </div>
      </div>
      <%= paginate(@following_users) %>

      <script>
        $("#tweet .contents").infinitescroll({
          loading: {
            img: "http://loadinggif.com/images/image-selection/17.gif",
            msgText: "loading..."
          },
          navSelector: "nav.pagination",
          nextSelector: "nav.pagination a[rel=next]",
          itemSelector: "#tweet div.success" /* このDOMに差し掛かった時に、次のページのロードが始まる*/
        });
      </script>


    </div>
    <a class="btn" href="/users/<%= @menber_id.to_i %>">投稿一覧へ戻る</a>
  </div>


</div>
