<div class="contents row">
  <div class="container">
    <%= form_tag("mypage/#{@myID}", method: :post) do %>
        <h3>
          登録情報変更
        </h3>
        <a>ニックネーム</a>
        <input value="<%=@change_nickname%>" type="text" name="nickname">
        <a>自己紹介</a>
        <textarea cols="30" name="text" rows="10"><%=@change_introduction%></textarea>
        <input type="submit" value="SENT">
    <% end %>
  </div>
</div>