<div class="contents row">
  <div class="success">
    <h3>
      変更が完了しました。
    </h3>
    <a class="btn" href="/users/<%= current_user.id %>">mypageへ戻る</a>
    <a class="btn" href="/tweets">投稿一覧へ戻る</a>

  </div>
</div>